<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/template :: head"></head>
<body>
  <header th:replace="plantillas/template :: header"></header>
  <div>
    <h1 th:text="${titulo}"></h1>
  </div>
  <div class="container">
  
  <a class="btn btn-primary btn-sm" th:href="@{/views/personas/nuevo}" th:text="'Nueva Persona'" 
  title="Crear nuevo registro"></a>
  
  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Operaciones</th>      
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="per:${personas}">
      <th scope="row" th:text="${per.id}"></th>
      <td th:text="${per.nombre}"></td>
      <td th:text="${per.apellido}"></td>
      
      <td> 
      	<a class ="btn btn-success btn-sm" th:href="@{/views/personas/editar/} + ${per.id}" th:text ="Editar" title ="Editar Registro"></a>
      	<a class ="btn btn-danger btn-sm" th:href="@{/views/personas/eliminar/} + ${per.id}" th:text ="Eliminar" title ="Eliminar Registro"></a>
      </td>
            
    </tr>
  </tbody>
</table>
  </div>
  <footer th:replace="plantillas/template :: footer"></footer>
</body>
</html>